* {
    font-family: Arial, Helvetica, sans-serif;
}


/*header*/
header {
    box-shadow: 4px 4px 4px rgb(0, 45, 45);
}


.navbar {
    background-color: rgba(0, 78, 57, 0.778);
}

#ulCabecalho {
    margin-left: 100px;
}

#menuHome {
    font-size: 20px;
}

#menuSobre {
    color: white;
    font-size: 20px;
}

#menuSobre:hover {
    color: black;
}

#menuServicos {
    color: white;
    font-size: 20px;
}

#menuServicos:hover {
    color: black;
}

#menuContato {
    color: white;
    font-size: 20px;
}

#menuContato:hover {
    color: black;
}

#menuHome:hover {
    color: white;
}

#fotoLogo {
    width: 140px;
    height: 120px;
    border-radius: 100px;
    margin-right: 28%;
}

#fotoLogo:hover{
    opacity: 90%;
    width: 141px;
    height: 121px;
}

.redesSociais {
    font-size: 32px;
    margin: 5px;
    margin-right: 5%;
    color: white;
}

.redesSociais:hover {
    color: black;
}

h3 {
    color: white;
    margin-right: 25%;
}



/*section*/
section {
    background-color: rgb(255, 250, 243);
}



/*Home*/
#fotoHome {
    border-radius: 30px;
    margin-left: 80px;
    margin-top: 15px;
}

#botao {
    border-radius: 20px;
    margin: 40px;
    margin-left: 20px;
    background-color: rgba(0, 78, 57, 0.778);
    width: 200px;   
    height: 80px;
}

#botao:hover {
    background-color: rgba(0, 57, 42, 0.778);
    font-size: 18px;
}

#linkConsulta {
    color: white;
    text-decoration: none;
}



/*Sobre*/
#fotoSobre {
    -webkit-transition: all .3s ease-in;
    border-radius: 30px;
    margin-left: 50px;
}

#fotoSobre:hover {
    -webkit-transform: scale(1.1);
}

#sobre1 {
    width: 250px;
    height: 210px;
}

#sobre2 {
    width: 250px;
    height: 210px;
}

/*Serviços*/
#card1, #card2, #card3, #card4 {
    border-radius: 20px;
    -webkit-transition: all .4s ease-in;
    
    box-shadow: 1px 1px 1px 1px black;
}

.imgServicos {
    border-radius: 25px;
}

#imgServicos3 {
    border-radius: 25px;
    height: 190px;
}

#card1, #card3{
    height: 250px;
}

#card1:hover {
    -webkit-transform: scale(1.1);
}

#card2:hover {
    -webkit-transform: scale(1.1);
}

#card3:hover {
    -webkit-transform: scale(1.1);
}

#card4:hover {
    -webkit-transform: scale(1.1);
}



/*Contato*/
.redesSociaisContato {
    color: rgba(0, 78, 57, 0.778);
    text-decoration: none;
    margin: 5px;
}

.redesSociaisContato:hover {
    color: black;
}



/*footer*/
footer {
    background-color: rgba(0, 78, 57, 0.778);
}



/*Responsividade*/
@media screen and (max-width: 600px) {
    header {
        width: 100%;
    }
    nav {
        width: 100%;
    }

    #ulCabecalho {
        text-align: center;
        margin-bottom: 55px;
        margin-left: 200px;
    }
    .nav-item {
        text-align: center;
        margin-top: 20px;
        margin-left: 200px;
    }

    #fotoLogo {
        position: absolute;
        margin-top: 50px;
    }

    #fotoHome{
        width: 300px;
    }

    #botao {
        margin-left: 130px;
    }
}